.footer {
  position: fixed;
  left: 0;
  bottom: -23px;
  width: 100%;
  color: #fff;
  text-align: center;
  padding: 10px 0;
  
  

  background: -webkit-linear-gradient(to left, #21d4fd, #b721ff);
  background: -o-linear-gradient(to left, #21d4fd, #b721ff);
  background: -moz-linear-gradient(to left, #21d4fd, #b721ff);
  background: linear-gradient(to left, #21d4fd, #b721ff);
}