<div class="home-page">

<h1><b>Há 35 anos liderando o mercado de inovações tecnológicas para a saúde</b></h1>
<h4>Somos pioneiros no desenvolvimento de prontuários eletrônicos e gestão integrada de clínicas no Brasil.</h4>
<p>

    A Manager Systems foi fundada por Luiz Fernando Buzaglo Dantas que, a pedido de seu pai, o Dr. Waldomiro Dantas (in memoriam), desenvolveu um sistema de para gerenciar seu consultório, sendo um dos primeiros sistemas de prontuário eletrônico do paciente.
    
    Logo, esta solução se tornou um sucesso em outros consultórios e clínicas da região de Florianópolis e toda Santa Catarina, quando iniciou a sua expansão pelo Brasil.
    
    A partir de 1988, a empresa iniciou uma história de entrega e dedicação tecnológica para apoiar o crescimento e a rentabilidade de profissionais da saúde. Tudo isso através da sua missão na construção de softwares de alta qualidade para a gestão integrada de todos os tipos de clínicas.
    
    Toda essa expertise de mais de 35 anos, proporciona segurança do paciente e competitividade para aprimorar e inovar profundamente os processos dos nossos clientes. Principalmente através do nosso software SISCLÍNICA, presente em centenas de Clínicas Médicas no país.
    
    Possuímos soluções personalizadas com nossos softwares de desenvolvimento próprio e os nossos parceiros exclusivos, como Nexus/Astraia e Sonio, para oferecer experiências únicas e completas aos nossos clientes.
    </p>
</div>

<div class="btn">
    <button type="button" class="btn btn-primary" (click)="redirectToExternalSite()" >Converse com a Manager!</button>  
</div>

